.button {
    cursor: pointer;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #ffab04;
    border: 2px solid #ffab04;
  }

  .button:hover,
  .button:active {
    box-shadow: 2px 2px 1px #bd9101 inset;
    color: #1d1a16;
    border: 2px solid #bd9101;
  }

  .button--alt {
    border: none;
    background-color: #ffab04;
  }

  .button--alt:hover,
  .button--alt:active {
    background-color: #826b19;
  }
  
